/* ==========================================================================
   skin - COMMON
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* HEADER */

/* img */
#header .brand img.title 	{ width:380px; top:75px; left:10%; }
#header .brand img.sig 		{ width:250px; bottom:40px; right:23%; }

/* img - responsive */
@media only screen and (max-width:900px) {
	
	#header .brand img.sig 		{ bottom:18px; right:20%; } 

}
@media only screen and (max-width:700px) {
	
	#header .brand img.sig 		{ left:300px; right:auto; } 

}
@media only screen and (max-width:640px) {
	
	/* center imgs */
	#header .brand img.title { position:relative; top:auto; left:auto; width:94%; max-width:380px; height:auto; max-height:80px; margin:100px auto 0 auto; }
	#header .brand img.sig	 { display:none; }
}
@media only screen and (max-width:320px) {

	/* reduce height */
	#header .brand img.title { margin-top:110px; }
	
}


/* -------------------------------------------------------------------------- */
/* NAV */ 

/* bg */
#nav { background:#3f372a; }

/* navItem - interaction */	
.no-touch #nav .navItem:hover,
.no-touch #nav .navItem:focus,
.touch #nav .navItem:active { background:#534b40; }

/* navItem - selected */
#nav .navItem.selected,
#nav .navItem.selected .label,
.no-touch #nav .navItem.selected:hover,
.no-touch #nav .navItem.selected:focus,
.touch #nav .navItem.selected:active { background:#534b40; border-top-color:#ed5f47; }

/* navItem extend */
#nav #nav0 { width: 9.00%; }
#nav #nav1 { width:11.75%; }
#nav #nav2 { width:14.25%; }
#nav #nav3 { width:15.50%; }
#nav #nav4 { width: 9.75%; }
#nav #nav5 { width:17.00%; }
#nav #nav6 { width: 8.00%; }
#nav #nav7 { width:14.50%; }

@media only screen and (max-width:640px) {
	
	/* navItem - border */
	#nav #navSelect,
	#nav #navItems .navItem { border-bottom-color:#635441; }
	
	/* navItem - interaction */	
	.no-touch #nav #navItems .navItem:hover,
	.no-touch #nav #navItems .navItem:focus,
	.touch #nav #navItems .navItem:active { background:#ed5f47; }
	
	/* navItem - selected */
	#nav .navItem.selected,
	#nav .navItem.selected .label,
	.no-touch #nav .navItem.selected:hover,
	.no-touch #nav .navItem.selected:focus,
	.touch #nav .navItem.selected:active { color:#ed5f47; border-bottom-color:#635441; }
	
	/* navSelect */
	#nav #navSelect { background:#322c22; }
	
}


/* -------------------------------------------------------------------------- */
/* SIDENAV */

/* icon */
#sideNav .icon { color:#c2b298; }

/* level 1 selected */
#sideNav li.selected a { background:#c2b298; }
#sideNav li.selected a:hover,
#sideNav li.selected a:focus { background:#af9b7a; }
#sideNav li.selected a.selected,
#sideNav li.selected a.selected:hover,
#sideNav li.selected a.selected:focus { background:#c2b298; }

/*level 2 links - interaction*/
#sideNav li li a:hover,
#sideNav li li a:focus { color:#c2b298!important; }
#sideNav li li.selected a,
#sideNav li li.selected a:hover
#sideNav li li.selected a:focus { color:#c2b298!important; }


/* -------------------------------------------------------------------------- */
/* PAGINATION */

/* btnNav */
.pagination .btnNav:hover,
.pagination .btnNav:focus,
.pagination .btnNav:active { background:#ed5f47; }
		

/* -------------------------------------------------------- */
/* FORM */

/* input */
.formView input.text:focus,
.formView input.text:active { border-color:#ed5f47; }


/* -------------------------------------------------------------------------- */
/* ITEMS */

/* date */
.item .date { color:#ed5f47; }
	
/* title */
.item:hover .title,
.item:focus .title,
.item:active .title { color:#ed5f47; }


/* -------------------------------------------------------------------------- */
/* BUTTONS */

/* btnIcon */
.btnIcon:hover,
.btnIcon:focus,
.btnIcon:active { background:#ed5f47; }

/* btnText */
.btnText .icon { background:#ed5f47; }

/* btnCircle */
.btnCircle { background:#493e40; }
.btnCircle:hover,
.btnCircle:focus,
.btnCircle:active { background:#ed5f47; }

/* btnCircleLrg */	
.btnCircleLrg { background:#493e40; }
.btnCircleLrg:hover,
.btnCircleLrg:focus,
.btnCircleLrg:active { background:#ed5f47; }

/* btnBox */
.btnBox:hover,
.btnBox:focus,
.btnBox:active { background-color:#ed5f47; }

/* btnAction */
.btnAction:hover .icon,
.btnAction:focus .icon,
.btnAction:active .icon { background:#ed5f47; }


/* ==========================================================================
   skin - HOME
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* FOCUS */

/* f1 - btnslide interaction */
#home #f1 .slideshow .controls .activeSlide,
#home #f1 .slideshow .controls .activeSlide:hover,
#home #f1 .slideshow .controls .activeSlide:focus,
#home #f1 .slideshow .controls .activeSlide:active { background:#ed5f47; }

/* f3 - bg color */
#home #focus .f3 .gap { background:#5c4041; }
#home #focus .f3:hover .gap,
#home #focus .f3:focus .gap,
#home #focus .f3:active .gap { background:#a28087; }

/* f3 - icon */
#home #focus .f3 .icon { background:#ed5f47; }

@media only screen and (max-width:500px) {

	/* f3 - interaction */
	#home #focus .f3 { background:#5c4041; }
	#home #focus .f3:hover,
	#home #focus .f3:focus,
	#home #focus .f3:active { background:#a28087; }
	
}

/* -------------------------------------------------------------------------- */
/* FOCUSMSG */

/* h1 */
#home #focusMsg h1.title { width:50%; color:#49392c; }
/* h2 */
#home #focusMsg h2 { width:62%; }

@media only screen and (max-width:980px) {

	/* reduce side gaps */
	#home #focusMsg h1.title,
	#home #focusMsg h2 { width:75%; }

}


/* -------------------------------------------------------------------------- */
/* ACTIONS */

/* container */
#home #actions { height:239px;/*235*1+4*/ }

/* caption and overlay */
#home .a3 .padder > .captions,
#home .a3 .overlay  { background:rgba(194,178,152,0.9); }
.oldie #home .a3 .padder > .captions,
.oldie #home .a3 .overlay  { background:#c2b298; }

@media only screen and (max-width:500px) {
	
	/* auto height */
	#home #actions { height:auto; }
	
	/* captions interaction */
	#home #actions .a3 .captions { background-color:#c2b298; }
	#home #actions .a3:hover .captions { background-color:#ed5f47; }

}


/* -------------------------------------------------------------------------- */
/* NEWS */

/* title */
#home #news h1.title { color:#49392c; } 


/* ==========================================================================
   skin - CONTENT VIEWPORT
   ========================================================================== */

/* link */
.contentViewport a,
.contentViewport a:hover,
.contentViewport a:focus,
.contentViewport a:active { color:#ed5f47!important; }

/* leaderText */
.contentViewport .leaderText  { color:#ed5f47; }

/* date */
.contentViewport .date { color:#ed5f47; }

/* divider */
.dividerSolid,	.contentViewport .dividerSolid 	{ border-top-color:#ed5f47; }
.dividerLite,	.contentViewport .dividerLite 	{ border-top-color:#ed5f47; }
 
/* specialbox */
.contentViewport .specialBox .title { color:#ed5f47; }	
.contentViewport .specialBox .icon	{ color:#ed5f47; }

/* styledTable */
.contentViewport .styledTable th,
.contentViewport .styledTable th p { background:#ed5f47; }
