/* ==========================================================================
   skin - MMC-PER
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* PAGE BG */
#pageBg { background-image:url(../img/mmc-per/bg-header-gradient.png); }

/* -------------------------------------------------------------------------- */
/* HEADER */

/* bg */
#header .brand { background-image:url(../img/mmc-per/bg-header.jpg); }
@media only screen and (max-width:640px) {

	#header .brand { background-image:url(../img/mmc-per/bg-header-mob.jpg); }

}

/* img */
#header .brand img.symbol 	{ display:none!important; }
#header .brand img.title 	{ width:380px; top:75px; left:10%; }
#header .brand img.sig 		{ width:250px; bottom:40px; right:23%; }

/* img - responsive */
@media only screen and (max-width:960px) {
	
	#header .brand img.sig 		{ bottom:18px; right:20%; } 

}
@media only screen and (max-width:700px) {
	
	#header .brand img.sig 		{ left:300px; right:auto; } 

}
@media only screen and (max-width:640px) {
	
	/* center imgs */
	#header .brand img.title { position:relative; top:auto; left:auto; width:94%; max-width:380px; height:auto; max-height:80px; margin:100px auto 0 auto; }
	#header .brand img.sig	 { display:none; }
}
@media only screen and (max-width:320px) {

	/* reduce height */
	#header .brand img.title { margin-top:110px; }
	
}

/* -------------------------------------------------------------------------- */
/* NAV */ 

/* bg */
#nav { background:#872e1e; }

/* navItem - interaction */	
.no-touch #nav .navItem:hover,
.no-touch #nav .navItem:focus,
.touch #nav .navItem:active { background:#934535; }

/* navItem - selected */
#nav .navItem.selected,
#nav .navItem.selected .label,
.no-touch #nav .navItem.selected:hover,
.no-touch #nav .navItem.selected:focus,
.touch #nav .navItem.selected:active { background:#934535; border-top-color:#ee9021; }

/* navItem extend */
#nav #nav0 { width:17.25%; margin-left:1.75%; }
#nav #nav1 { width:10.25%; }
#nav #nav2 { width:17.00%; }
#nav #nav3 { width:11.00%; }
#nav #nav4 { width:25.75%; }
#nav #nav5 { width:15.00%; margin-right:1.75%; }

/* responsive */
@media only screen and (max-width:640px) {
	
	/* navItem - border */
	#nav #navSelect,
	#nav #navItems .navItem { border-bottom-color:#c05332; }
	
	/* navItem - interaction */	
	.no-touch #nav #navItems .navItem:hover,
	.no-touch #nav #navItems .navItem:focus,
	.touch #nav #navItems .navItem:active { background:#f0592e; }
	
	/* navItem - selected */
	#nav .navItem.selected,
	#nav .navItem.selected .label,
	.no-touch #nav .navItem.selected:hover,
	.no-touch #nav .navItem.selected:focus,
	.touch #nav .navItem.selected:active { color:#ee9021; border-bottom-color:#c05332; }
	
	/* navSelect */
	#nav #navSelect { background:#6c2717; }
	
}

/* -------------------------------------------------------------------------- */
/* PAGINATION */
		
/* btnNav */
.pagination .btnNav:hover,
.pagination .btnNav:focus,
.pagination .btnNav:active { background:#ee9021; }

/* -------------------------------------------------------------------------- */
/* UTILS TOP */

/* btnSearch */
#utilsTop #storeSearch .btnSearch:hover,
#utilsTop #storeSearch .btnSearch:focus,
#utilsTop #storeSearch .btnSearch:active { background:#ee9021; }

/* btnMenu */
#utilsTop .btnMenu:hover .icon,
#utilsTop .btnMenu:focus .icon,
#utilsTop .btnMenu:active .icon { color:#e07534; }

/* btnCart */
#utilsTop #btnCart .notes { color:#e07534; }
#utilsTop #btnCart .fwicon-shopping-cart { color:#e07534; }

/* -------------------------------------------------------------------------- */
/* UTILS MENU */

/* menuCart */
#menuCart .cartCell .btnItem:hover .label { color:#ee9021; }
#menuCart .cartCell .icon { color:#ee9021; }

/* -------------------------------------------------------- */
/* FORM */

/* headerBox */
.formView .headerBox { background:#ee9021; }


/* radio/checkbox */
.formView span.radio,
.formView span.checkbox	{ background-image:url(../img/mmc-per/radio-custom.png); }
@media 	(-o-min-device-pixel-ratio: 5/4),
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution:120dpi) {

	/*use @2x image*/
	.formView span.radio,
	.formView span.checkbox { 
		background-image:url(../img/mmc-per/radio-custom@2x.png); }
}
		
/* input */
.formView input.text:focus,
.formView input.text:active { border-color:#ee9021; }

/* -------------------------------------------------------------------------- */
/* ITEMS PRODUCT */

/* ribbon */
.itemProduct .imgThumb .ribbon { background:#ee9021; }
.itemProduct .imgThumb .ribbon:before { border-color:#ee9021; }
	
/* title */
.itemProduct .title:hover,
.itemProduct .title:focus,
.itemProduct .title:active { color:#ee9021; }

/* -------------------------------------------------------------------------- */
/* CONTENT VIEWPORT */

/* a */
.contentViewport a,
.contentViewport a:hover,
.contentViewport a:focus,
.contentViewport a:active { color:#ee9021; }

/* -------------------------------------------------------------------------- */
/* BUTTONS */

/* btnCircle */
.btnCircle:hover,
.btnCircle:focus,
.btnCircle:active { background:#ee9021; }

/* btnBox */
.btnBox:hover,
.btnBox:focus,
.btnBox:active { background:#ee9021; }

/* btnBoxHighlight */
.btnBoxHighlight { background:#ee9021; }
.btnBoxHighlight:hover,
.btnBoxHighlight:focus,
.btnBoxHighlight:active { background:#000; }

/* btnBoxNoBg */
.btnBoxNoBg:hover,
.btnBoxNoBg:focus,
.btnBoxNoBg:active,
.btnBoxNoBg:hover .label,
.btnBoxNoBg:focus .label,
.btnBoxNoBg:active .label,
.btnBoxNoBg:hover .icon,
.btnBoxNoBg:focus .icon,
.btnBoxNoBg:active .icon { color:#ee9021!important; }

/* btnCapsule */
.btnCapsule { background:#ee9021; }
.btnCapsule:hover,
.btnCapsule:focus,
.btnCapsule:active { background-color:#333; }

/* btnAction */
.btnAction:hover .icon,
.btnAction:focus .icon,
.btnAction:active .icon { background:#e07534; }

/* btnSlide */
.slideshow .controls .activeSlide,
.slideshow .controls .activeSlide:hover,
.slideshow .controls .activeSlide:focus,
.slideshow .controls .activeSlide:active,
#categories .controls .activeSlide,
#categories .controls .activeSlide:hover,
#categories .controls .activeSlide:focus,
#categories .controls .activeSlide:active { background:#ee9021; }

/* btnCategory */
.btnCategory .icon { background:#e07534; }
.btnCategory:hover .icon,
.btnCategory:focus .icon,
.btnCategory:active .icon { background:#ee9021; } 
.btnCategory:hover .label,
.btnCategory:focus .label,
.btnCategory:active .label { color:#ee9021!important; }

/* btnCategoryStrip */
.btnCategoryStrip .icon { background:#e07534; }
.btnCategoryStrip:hover .icon,
.btnCategoryStrip:focus .icon,
.btnCategoryStrip:active .icon { background:#ee9021; }
.btnCategoryStrip:hover .label,
.btnCategoryStrip:focus .label,
.btnCategoryStrip:active .label { color:#ee9021!important; }

/* -------------------------------------------------------------------------- */
/* TEXT */

/* category */
.category,
.category:visited { color:#ee9021; }

/* -------------------------------------------------------------------------- */
/* FOCUS */

/* container bg */
#focus { background:#393229 url(../img/mmc-per/bg-pattern-textile.jpg); }

/* -------------------------------------------------------------------------- */
/* PROGRESS */

/* container */
#progress { background:#e07534; }
#progress .bg { background:url(../img/mmc-per/bg-tile-progress.png); }

/* title */
.oldie #progress .h2 { background:#f09b38; }

/* sepCorner */
#progress .sepCorner { background-image:url(../img/mmc-per/img-progress-sepcorner-rgba.png); }
.oldie #progress .sepCorner { background-image:url(../img/mmc-per/img-progress-sepcorner-rgb.png); }
	
/* -------------------------------------------------------------------------- */
/* CHECKOUT */

/* container bg */
#checkout #aside { background:#e07534; }

/* -------------------------------------------------------------------------- */
/* SUMMARY/CREDIT CARD */

/* btnHint color */
#checkout #creditcard .btnHint { color:#e07534; }
